{% extends "mainapp/base.html" %}

{% load staticfiles %}
{% block title %}
    {{ chapter.name }} - mehr.
{% endblock %}
{% block js %}
    <script src='{% static "mainapp/js/chapter.js" %}'></script>
    <script type='text/javascript'>
        var playIcon = "{% static 'mainapp/images/play_weiß.png' %}";
        var pauseIcon = "{% static 'mainapp/images/pause_weiß.png' %}";
    </script>
    {% with next_chapter=chapter.get_next %}
    {% if next_chapter %}
    <script type='text/javascript'>
        function myHandler(e) {
            document.location.href = "{% url 'mainapp:chapterPage' person.id next_chapter.get_relative_id %}";
        }

        window.onload = function() {
            document.getElementById('chapterVideo').addEventListener('ended', myHandler, false);
        }
    </script>
    {% endif %}
    {% endwith %}
{% endblock %}
{% block css %}
    <link href='{% static "mainapp/css/chapter.css" %}' rel="stylesheet" type="text/css" />
    <link href='{% static "mainapp/css/util_video_fullscreen.css" %}' rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
<div class="timeline" onmouseenter="showChapterOverview()" onmouseleave="hideChapterOverview()">
    <progress id="progressbar" value="0" max="100"></progress>
</div>
<div class="chapter-overview">
    {% for c in person.chapter_set.all %}
        {% if c.get_relative_id == chapter.get_relative_id %}
            <div class="active">{{ c.name }};</div>
        {% else %}
            <div class="inactive">{{ c.name }};</div>
        {% endif %}
    {% endfor %}
</div>
<div class="box">
    <div>
        <a class="header" href="#">...</a>
    </div>
    <div>
        <a class="mehr" href="#layer-container">mehr.</a>
    </div>
</div>
<video id="chapterVideo" poster='{% static "mainapp/images/yeah.jpg" %}' autoplay>
    <source src="{{ chapter.video.url }}" type="video/mp4">
    <source src="{{ chapter.video.url }}" type="video/webm">
    Your browser does not support the video tag.
</video>
<div class="video-controls">
    <input id="video-toggle" type="image" src="{% static 'mainapp/images/pause_weiß.png' %}" />
    <input id="video-volume" type="image" src="{% static 'mainapp/images/ton_an_weiß.png' %}" />
</div>
{% if chapter.get_additional_count > 0 %}
<div id="layer-container" class="layer-container">
    {% for layer in chapter.additionalcontent_set.all %}
    {# set custom attribute with html5 'data-' prefix #}
    <div class="layer" style="background-image: url('{{ layer.image.url }}');" onclick="openLayerPage()">
        <div class="layer-title">{{layer.name}}</div>
        <div class="layer-description">{{layer.description}}</div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}
