{% extends "mainapp/base.html" %}

{% load staticfiles %}
{% block title %}
    {{ chapter.name }} - mehr.
{% endblock %}
{% block js %}

    <script type='text/javascript'>
    // play-pause
    var playIconWeiß = "{% static 'mainapp/images/play_weiß.png' %}";
    var playIconBlau = "{% static 'mainapp/images/play_blau.png' %}";
    var pauseIconWeiß = "{% static 'mainapp/images/pause_weiß.png' %}";
    var pauseIconBlau = "{% static 'mainapp/images/pause_blau.png' %}";
    // volume
    var volumeOnIconWeiß = "{% static 'mainapp/images/ton_an_weiß.png' %}";
    var volumeOnIconBlau = "{% static 'mainapp/images/ton_an_blau.png' %}";
    var volumeOffIconWeiß = "{% static 'mainapp/images/ton_aus_weiß.png' %}";
    var volumeOffIconBlau = "{% static 'mainapp/images/ton_aus_blau.png' %}";

    var personLink = "{% url 'mainapp:personPage' person.id %}";
    var videoGlobalStartTime = {{ chapter.start_time }};
    var allChaptersDuration = {{ all_chapters_duration }};
    var additionalContentSignalTime = "{{ chapter.additional_content_signal_time }}"
    var additionalContentsCount = "{{ chapter.get_additional_count }}"

    // navigation
    {% with next_chapter=chapter.get_next previous_chapter=chapter.get_previous %}
    {% if previous_chapter %}
        var previousChapterLink = "{% url 'mainapp:chapterPage' person.id previous_chapter.get_relative_id %}";
    {% endif %}

    {% if next_chapter %}
        var nextChapterLink = "{% url 'mainapp:chapterPage' person.id next_chapter.get_relative_id %}";
        function switchToNextChapterHandler(e) {
            document.location.href = nextChapterLink;
        }
    {% else %}
        function backToPersonPage(e) {
            document.location.href = personLink;
        }
    {% endif %}
    {% endwith %}

    window.onload = function() {
        if (typeof switchToNextChapterHandler != 'undefined')
            document.getElementById('chapterVideo').addEventListener('ended', switchToNextChapterHandler, false);

        if (typeof backToPersonPage != 'undefined')
            document.getElementById('chapterVideo').addEventListener('ended', backToPersonPage, false);

        if ({{ current_time }} != 0)
            document.getElementById('chapterVideo').currentTime = {{ current_time }};
    }
    </script>
    <script src='{% static "mainapp/js/chapter.js" %}'></script>
{% endblock %}
{% block css %}
<link href='{% static "mainapp/css/chapter.css" %}' rel="stylesheet" type="text/css"/>
<link href='{% static "mainapp/css/util_video_fullscreen.css" %}' rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}
<div class="timeline">
    <progress id="progressbar" value="0" max="100"></progress>
</div>
<div class="chapter-overview">
    {% for c in person.chapter_set.all %}
    {% if c.get_relative_id == chapter.get_relative_id %}
    <div class="active">{{ c.name }};</div>
    {% else %}
    <div class="inactive">{{ c.name }};</div>
    {% endif %}
    {% endfor %}
</div>
<div class="box">
    <div>
        <a class="header" onclick="openNav()">...</a>
    </div>
    <div>
        <a class="mehr" href="#layer-container">mehr.</a>
    </div>
</div>
<video id="chapterVideo" autoplay>
    <source src="{{ chapter.video.url }}" type="video/mp4">
    <source src="{{ chapter.video.url }}" type="video/webm">
    Your browser does not support the video tag.
</video>
<div class="video-controls">
    <input id="video-toggle" type="image" src="{% static 'mainapp/images/pause_weiß.png' %}"/>
    <input id="video-volume" type="image" src="{% static 'mainapp/images/ton_aus_weiß.png' %}"/>
</div>
{% if chapter.get_additional_count > 0 %}
<div id="layer-container" class="layer-container">
    {% for layer in chapter.additionalcontent_set.all %}
    {# set custom attribute with html5 'data-' prefix #}
    <div class="layer" style="background-image: url('{{ layer.image.url }}');" data-layerlink="{% url 'mainapp:additionalContentPage' person.id chapter.get_relative_id layer.index %}">
        <div class="layer-title">{{layer.name}}</div>
        <div class="layer-description">{{layer.description}}</div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}