<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ person.name }} - awesome video magazine</title>
    {% load staticfiles %}
    <!-- CSS -->
    <link href='{% static "mainapp/css/bootstrap.min.css" %}' rel="stylesheet" media="screen">
    <link href='{% static "mainapp/css/chapter.css" %}' rel="stylesheet" type="text/css">
    <!-- JS -->
    <script src='{% static "mainapp/js/jquery.js" %}'></script>
    <script src='{% static "mainapp/js/bootstrap.min.js" %}'></script>
    <script src='{% static "mainapp/js/custom.js" %}'></script>
    <script src='{% static "mainapp/js/chapter.js" %}'></script>
</head>
<body>

<h1>{{ person.name }} - Chapter {{ chapter.get_relative_id }}</h1>

<div id="timeline">
</div>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            .col-md-12
            <video id="chapterVideo" poster='{% static "mainapp/images/yeah.jpg" %}' width="640" height="480" autoplay controls>
                <source src="{{ chapter.video.url }}" type="video/mp4">
                <source src="{{ chapter.video.url }}" type="video/webm">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">.col-md-6</div>
        <div class="col-md-6">.col-md-6</div>
    </div>

    {% with next_chapter=chapter.get_next previous_chapter=chapter.get_previous %}
    {% if previous_chapter %}
        <a href="{% url 'mainapp:chapterPage' person.get_relative_id previous_chapter.get_relative_id %}">previous</a>
        Chapter {{ previous_chapter.get_relative_id }}<br/>
    {% endif %}
    {% if next_chapter %}
        <a href="{% url 'mainapp:chapterPage' person.get_relative_id next_chapter.get_relative_id %}">next</a>
        Chapter {{ next_chapter.get_relative_id }}
        <script type='text/javascript'>
            document.getElementById('chapterVideo').addEventListener('ended', myHandler, false);
            function myHandler(e) {
                document.location.href = "{% url 'mainapp:chapterPage' person.get_relative_id next_chapter.get_relative_id %}";
            }
        </script>
    {% endif %}
    {% endwith %}

    <br/>
    bonus content of this chapter:<br/>
    <ul>
        {% for bonus in chapter.additionalcontent_set.all %}
        <li>
            <a href="{% url 'mainapp:additionalContentPage' person.get_relative_id chapter.get_relative_id bonus.get_relative_id %}">
                {{ bonus }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>


</body>
