{% extends "mainapp/base_without_menu.html" %}

{% load staticfiles %}
{% block title %}
    mehr.
{% endblock %}
{% block js %}
    <script src='{% static "mainapp/js/index.js" %}'></script>
    <script>
        // http://www.mutaku.com/wp/index.php/2012/03/accessing-django-template-variables-in-javascript/
        var firstPersonID = "{% url 'mainapp:personPage' firstID %}";
        // var images = [{% for i in images %}'{{i}}',{% endfor %}]
    </script>
{% endblock %}
{% block css %}
    <link href='{% static "mainapp/css/index.css" %}' rel="stylesheet" type="text/css">
    <link href='{% static "mainapp/css/util_video_fullscreen.css" %}' rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
    <div class="box">
        <!--empty div to ensure the pretty layout -> flex with 3 boxes -> there is a correct center position -->
        <div></div>
        <div>
            <p class="title">Wir stillen den Durst nach mehr. Wir sind mehr. Wir machen mehr. <br/>Mehr ist mehr.</p>
        </div>
        <div>
            <a class="mehr" href="{% url 'mainapp:personPage' firstID %}">mehr.</a>
        </div>
    </div>
    <video poster='{% static "mainapp/images/index/yeah.jpg" %}' autoplay loop muted>
        <source src="{{ video_path }}" type="video/mp4">
        <source src="{{ video_path }}" type="video/webm">
        Your browser does not support the video tag.
    </video>
{% endblock %}
