{% extends "mainapp/base/base.html" %}
{% load staticfiles %}
{% block title %}
    mehr.
{% endblock %}
{% block js %}
    <script src='{% static "mainapp/js/index.js" %}'></script>
    <script>
        // var images = [{% for i in images %}'{{i}}',{% endfor %}]
        var firstPersonLink = "{% url 'mainapp:personPage' firstID %}";
    </script>
{% endblock %}
{% block css %}
    <link href='{% static "mainapp/css/index.css" %}' rel="stylesheet" type="text/css" />
    <link href='{% static "mainapp/css/util_video_fullscreen.css" %}' rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
    <div class="box">
        <!--empty div to ensure the pretty layout -> flex with 3 boxes -> there is a correct center position -->
        <div></div>
        <div>
            <p class="header">{{ intro.text|linebreaksbr }}</p>
        </div>
        <div>
            <a class="mehr" href="{% url 'mainapp:personPage' firstID %}">mehr.</a>
        </div>
    </div>
    <video autoplay loop muted>
        <source src="{{ intro.video.url }}" type="video/mp4">
        <source src="{{ intro.video.url }}" type="video/webm">
        Your browser does not support the video tag.
    </video>
{% endblock %}
