{% extends "mainapp/base/base.html" %}
{% load staticfiles %}
{% block title %}
    {{ person.name }} - mehr.
{% endblock %}
{% block js %}

{% endblock %}
{% block content %}
<div class="container-fluid">

    {% if layer.ambient_music %}
        <audio autoplay>
            <source src="{{ layer.ambient_music.url }}" type="audio/ogg">
            <source src="{{ layer.ambient_music.url }}" type="audio/mpeg">
            Your browser does not support the audio tag.
        </audio>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            .col-md-12
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">.col-md-6</div>
        <div class="col-md-6">.col-md-6</div>
    </div>

    <div class="row">
        {% for additional_content_element in layer.additionalcontentelement_set.all %}
            {% if additional_content_element.type == 0 %}
                <video autoplay>
                    <source src="{{ additional_content_element.video.url }}" type="video/mp4">
                    <source src="{{ additional_content_element.video.url }}" type="video/webm">
                    Your browser does not support the video tag.
                </video>
            {% elif additional_content_element.type == 1 %}
                <img src="{% static additional_content_element.image.url %}" />
            {% elif additional_content_element.type == 2 %}
                {{ additional_content_element.text }}
            {% elif additional_content_element.type == 3 %}
                <video>
                    <source src="{{ additional_content_element.video.url }}" type="video/mp4">
                    <source src="{{ additional_content_element.video.url }}" type="video/webm">
                    Your browser does not support the video tag.
                </video><br/>
                {{ additional_content_element.text }}
            {% elif additional_content_element.type == 4 %}
                <img src="{% static additional_content_element.image.url %}" /><br/>
                {{ additional_content_element.text }}
            {% endif %}
            <br/><br/>
        {% endfor %}
    </div>
</div>

{% endblock %}