{% extends "mainapp/base/base.html" %}
{% load staticfiles %}
{% block title %}
    {{ person.name }} - mehr.
{% endblock %}
{% block css %}
    <link href='{% static "mainapp/css/libs/flickity.min.css" %}' rel="stylesheet" type="text/css"/>
    <link href='{% static "mainapp/css/layer_gallery.css" %}' rel="stylesheet" type="text/css"/>
{% endblock %}
{% block js %}
    <script src='{% static "mainapp/js/libs/flickity.pkgd.min.js" %}'></script>
    <script src='{% static "mainapp/js/layer_gallery.js" %}'></script>
    <script type='text/javascript'>
        var chapterLink = "{% url 'mainapp:chapterPage' person.id chapter.get_relative_id current_time %}";
    </script>
{% endblock %}
{% block content %}
{% if layer.ambient_music %}
<audio id="ambient_music" autoplay>
    <source src="{{ layer.ambient_music.url }}" type="audio/ogg">
    <source src="{{ layer.ambient_music.url }}" type="audio/mpeg">
    Your browser does not support the audio tag.
</audio>
{% endif %}
<div class="timeline">
    <progress id="chapterProgressbar" value="{{ chapter_progress }}" max="100"></progress>
</div>
<div class="box">
    <div>
        <a class="header" href="#">...</a>
    </div>
    <div class="content">
        <div class="carousel">
            {% for image in layer.galleryimage_set.all %}
            <img src="{% static image.image.url %}"/>
            {% endfor %}
        </div>
    </div>
    <div>
        <a class="mehr" href="#">mehr.</a>
    </div>
</div>
<div class="audio-controls">
    <input id="audio-toggle" type="image" src="{% static 'mainapp/images/pause_blau.png' %}" />
    <input id="audio-volume" type="image" src="{% static 'mainapp/images/ton_aus_blau.png' %}" />
</div>
{% if chapter.get_additional_count > 0 %}
<div id="layer-container" class="layer-container">
    {% for l in chapter.additionalcontent_set.all %}
    {% if layer.id != l.id %}
    <div class="layer" style="background-image: url('{{ l.image.url }}');" data-layerlink="{% url 'mainapp:additionalContentPage' person.id chapter.get_relative_id l.get_relative_id %}">
        <div class="layer-title">{{l.name}}</div>
        <div class="layer-description">{{l.description}}</div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endif %}

{% endblock %}