{% extends "mainapp/base.html" %}
{% load staticfiles %}
{% block title %}
    {{ layer.name }} - mehr.
{% endblock %}
{% block js %}
    <script src='{% static "mainapp/js/layer.js" %}'></script>
    <script type='text/javascript'>
        var chapterLink = "{% url 'mainapp:chapterPage' person.id chapter.get_relative_id current_time %}";
        // play-pause
        var playIconWeiß = "{% static 'mainapp/images/play_weiß.png' %}";
        var playIconBlau = "{% static 'mainapp/images/play_blau.png' %}";
        var pauseIconWeiß = "{% static 'mainapp/images/pause_weiß.png' %}";
        var pauseIconBlau = "{% static 'mainapp/images/pause_blau.png' %}";
        // volume
        var volumeOnIconWeiß = "{% static 'mainapp/images/ton_an_weiß.png' %}";
        var volumeOnIconBlau = "{% static 'mainapp/images/ton_an_blau.png' %}";
        var volumeOffIconWeiß = "{% static 'mainapp/images/ton_aus_weiß.png' %}";
        var volumeOffIconBlau = "{% static 'mainapp/images/ton_aus_blau.png' %}";
    </script>
{% endblock %}
{% block css %}
    <link href='{% static "mainapp/css/util_video_fullscreen.css" %}' rel="stylesheet" type="text/css" />
    <link href='{% static "mainapp/css/layer.css" %}' rel="stylesheet" type="text/css" />
    <style type="text/css" >
    body {
        cursor: url("{% static 'mainapp/images/small/schließen_blau.png' %}"), crosshair;
    }
    </style>
{% endblock %}
{% block content %}
<div class="timeline">
    <progress id="chapterProgressbar" value="{{ current_time }}" max="100"></progress>
</div>
<progress id="layerProgressbar" class="layer-progressbar" value="0" max="100"></progress>
<div class="box">
    <div>
        <a class="header" href="#">...</a>
    </div>
    <div>
        <a class="mehr" href="#">mehr.</a>
    </div>
</div>
<video id="layerVideo" autoplay>
    <source src="{{ layer.video.url }}" type="video/mp4">
    <source src="{{ layer.video.url }}" type="video/webm">
    Your browser does not support the video tag.
</video>
<div class="video-controls">
    <input id="video-toggle" type="image" src="{% static 'mainapp/images/pause_blau.png' %}" />
    <input id="video-volume" type="image" src="{% static 'mainapp/images/ton_an_blau.png' %}" />
</div>
{% endblock %}