{% extends "mainapp/base/base.html" %}
{% load staticfiles %}
{% block title %}
{{ layer.name }} - mehr.
{% endblock %}
{% block js %}
<script src='{% static "mainapp/js/libs/imagesloaded.pkgd.min.js" %}'></script>
<script src='{% static "mainapp/js/libs/masonry.pkgd.min.js" %}'></script>
<script src='{% static "mainapp/js/layer_mix.js" %}'></script>
<script type='text/javascript'>
    var chapterLink = "{% url 'mainapp:chapterPage' person.id chapter.get_relative_id current_time %}";
    var debug = {{ debug_mode }};
    var first_video_class = null;
    {% for ace in layer.additionalcontentelement_set.all %}
        {% if ace.first_video_flag %}
            first_video_class = ".{{ ace.frontend_id }}>video";
        {% endif %}
    {% endfor %}
</script>
{% endblock %}
{% block css %}
<link href='{% static "mainapp/css/layer_mix.css" %}' rel="stylesheet" type="text/css"/>
<style type="text/css" >
    body {
        cursor: url("{% static 'mainapp/images/x.png' %}"), crosshair;
    }
    </style>
{% endblock %}
{% block content %}
{% if layer.ambient_music %}
<audio id="ambient_music" autoplay>
    <source src="{{ layer.ambient_music.url }}" type="audio/ogg">
    <source src="{{ layer.ambient_music.url }}" type="audio/mpeg">
    Your browser does not support the audio tag.
</audio>
{% endif %}
<div class="timeline">
    <progress id="chapterProgressbar" value="{{ chapter_progress }}" max="100"></progress>
</div>
<div class="audio-controls">
    <input id="audio-toggle" type="image" src="{% static 'mainapp/images/pause_blau.png' %}" />
    <input id="audio-volume" type="image" src="{% static 'mainapp/images/ton_aus_blau.png' %}" />
</div>
<div class="wrapper">
    <div class="header">
        <a href="#">...</a>
    </div>
    <div class="content grid">
        {% for ace in layer.additionalcontentelement_set.all %}
        <div class="grid-item {{ css_classes|random }}">
            {% if ace.type == 0 %}
                <video loop muted>
                    <source src="{{ ace.video.url }}" type="video/mp4">
                    <source src="{{ ace.video.url }}" type="video/webm">
                    Your browser does not support the video tag.
                </video>
            {% elif ace.type == 1 %}
                <img src="{% static ace.image.url %}" />
            {% elif ace.type == 2 %}
                <p>{{ ace.text }}</p>
            {% elif ace.type == 3 %}
                <video loop muted>
                    <source src="{{ ace.video.url }}" type="video/mp4">
                    <source src="{{ ace.video.url }}" type="video/webm">
                    Your browser does not support the video tag.
                </video>
                <p class="text">{{ ace.text }}</p>
            {% elif ace.type == 4 %}
                <img src="{% static ace.image.url %}"/>
                <p class="text">{{ ace.text }}</p>
            {% endif %}
            <!--
            <div class="social-media">
                {% for social_media_link in ace.socialmedialink_set.all %}
                <a class="social-media-link" href="{{ social_media_link.link }}">
                    <img src="{% static social_media_link.platform.icon.url %}">
                </a>
                {% endfor %}
            </div>
            -->
        </div>
        {% endfor %}
    </div>
    <div class="footer">
        <div class="mehr">
            <a href="#">mehr.</a>
        </div>
        {% if chapter.get_additional_count > 0 %}
        <div class="layer-container">
            {% for l in chapter.additionalcontent_set.all %}
            {% if layer.id != l.id %}
            <div class="layer"
                 style="background-image: url('{{ l.image.url }}');"
                 data-layerlink="{% url 'mainapp:additionalContentPage' person.id chapter.get_relative_id l.get_relative_id %}">
                <div class="layer-title">{{l.name}}</div>
                <div class="layer-description">{{l.description}}</div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
