{% extends "mainapp/base.html" %}

{% load staticfiles %}
{% block title %}
    {{ person.name }} - awesome video magazine
{% endblock %}
{% block js %}

{% endblock %}
{% block content %}
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            .col-md-12
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">.col-md-6</div>
        <div class="col-md-6">.col-md-6</div>

        {% for textblock in layer.additionalcontenttextblock_set.all %}
            {{ textblock.text }}<br/><br/><br/>
        {% endfor %}
    </div>

    <div class="row">
        {% for additional_content_image in layer.additionalcontentimage_set.all %}
            <img src="{% static additional_content_image.image.url %}" /><br/><br/>
        {% endfor %}
    </div>
</div>

{% endblock %}