{% extends "mainapp/base.html" %}

{% load staticfiles %}
{% block title %}
    {{ person.name }} - awesome video magazine
{% endblock %}
{% block js %}
    <script type='text/javascript'>
        function backToChapter() {
            document.location.href = "{% url 'mainapp:chapterPage' person.get_relative_id chapter.get_relative_id %}";
        }

        $(document).ready(function() {
            $('body').click(function(event) {
                backToChapter();
            });
        });
    </script>
{% endblock %}
{% block css %}
    <style type="text/css" >
        #chapterLayerVideo {
            width: 640px;
            height: 480px;
            cursor: url({% static 'mainapp/images/Close.png' %}), crosshair;
        }
    </style>
{% endblock %}
{% block content %}
    <video id="chapterLayerVideo" poster='{% static "mainapp/images/yeah.jpg" %}' autoplay controls>
        <source src="{{ video.url }}" type="video/mp4">
        <source src="{{ video.url }}" type="video/webm">
        Your browser does not support the video tag.
    </video>
{% endblock %}