{% extends "mainapp/base.html" %}

{% load staticfiles %}
{# Load bootstrap3 #}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}
    {{ person.name }} - mehr.
{% endblock %}
{% block js %}
    <script>
     var images = [
        {% for image in person.get_images %}
            '{{ image.image.url }}',
        {% endfor %}
     ];
    {% with next_person=person.get_next previous_person=person.get_previous %}
    {% if previous_person %}
        var previousPersonLink = "{% url 'mainapp:personPage' previous_person.id %}";
    {% else %}
        var previousPersonLink = "#";
    {% endif %}
    {% if next_person %}
        var nextPersonLink = "{% url 'mainapp:personPage' next_person.id %}";
    {% else %}
        var nextPersonLink = "#";
    {% endif %}
    {% endwith %}
    var chapterLink = "{% url 'mainapp:chapterPage' person.id 0 %}";
    var homeLink = "{% url 'mainapp:index' %}";
    </script>
    <script src='{% static "mainapp/js/person.js" %}'></script>
{% endblock %}
{% block css %}
    <link href='{% static "mainapp/css/person.css" %}' rel="stylesheet" type="text/css" />
    {% if person.preview_type = person.PREVIEW_TYPE_VIDEO %}
    <link href='{% static "mainapp/css/util_video_fullscreen.css" %}' rel="stylesheet" type="text/css" />
    {% else %}
    <link href='{% static "mainapp/css/util_image_fullscreen.css" %}' rel="stylesheet" type="text/css" />
    {% endif %}
    <style type="text/css">
    .nav.nav-left {
        cursor: url({% static "mainapp/images/small/pfeil_links_weiß.png" %}), pointer;
    }

    .nav.nav-right {
	    cursor: url('{% static "mainapp/images/small/pfeil_rechts_weiß.png" %}'), pointer;
    }
    </style>
{% endblock %}
{% block content %}
    <div class="nav nav-left">
        <img src='{% static "mainapp/images/pfeil_links_weiß.png" %}' />
    </div>
    <div class="nav nav-right">
        <img src='{% static "mainapp/images/pfeil_rechts_weiß.png" %}' />
    </div>
    <div class="box">
        <div>
            <a class="header" href="#" onclick="openNav()">...</a>
        </div>
        <div class="cont">
            <a class="person-name" href="{% url 'mainapp:chapterPage' person.id 0 %}">{{person.name}}</a>
            <a class="person-description" href="{% url 'mainapp:chapterPage' person.id 0 %}">{{person.preview_text}}</a>
        </div>
        <div>
            <a class="mehr" href="{% url 'mainapp:chapterPage' person.id 0 %}">mehr.</a>
        </div>
    </div>

    {% if person.preview_type = person.PREVIEW_TYPE_VIDEO %}
    <video poster='{% static "mainapp/images/yeah.jpg" %}' autoplay loop muted>
        <source src="{{ person.preview_video.url }}" type="video/mp4">
        <source src="{{ person.preview_video.url }}" type="video/webm">
        Your browser does not support the video tag.
    </video>
    {% endif %}
{% endblock %}
