<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ person.name }} - awesome video magazine</title>
    {% load staticfiles %}
    <!-- CSS -->
    <link href='{% static "mainapp/css/bootstrap.min.css" %}' rel="stylesheet" media="screen">
    <link href='{% static "mainapp/css/custom.css" %}' rel="stylesheet" type="text/css">
    <!-- JS -->
    <script src='{% static "mainapp/js/jquery.js" %}'></script>
    <script src='{% static "mainapp/js/bootstrap.min.js" %}'></script>
    <script src='{% static "mainapp/js/custom.js" %}'></script>
</head>
<body>
<div id="person-carousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% for _, clazz in people %}
        <li data-target="#person-carousel" data-slide-to="{{forloop.counter0}}" class="{{clazz}}"></li>
        {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        {% for person, clazz in people %}
        <div class="item {{clazz}}">
            <h1 class="text-center">{{person.name}}</h1>
            {% if person.get_images %}
            <!-- FIXME: set first chapter id -->
            <a href="{% url 'mainapp:chapterPage' person.id 0 %}">
                <div id="rotating-item-wrapper">
                    {% for image in person.get_images %}
                    <img src="{{ image.image.url }}" class="rotating-item img-responsive center-block" width="500" height="500"/>
                    {% endfor %}
                </div>
            </a>
            {% endif %}
            <div class="carousel-caption">
                <h3>lorem</h3>
                <p>{% lorem 5 p %}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Controls -->
    {% with next_person=person.get_next previous_person=person.get_previous %}
    {% if previous_person %}
    <a class="left carousel-control" href="{% url 'mainapp:personPage' previous_person.get_relative_id %}" role="button"
       data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    {% endif %}
    {% if next_person %}
    <a class="right carousel-control" href="{% url 'mainapp:personPage' next_person.get_relative_id %}" role="button"
       data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    {% endif %}
    {% endwith %}

</div>
</body>
</html>