<h1>{{ person.name }}</h1>
<ul>
    {% for chapter in person.chapter_set.all %}
        <li>
            <a href="{% url 'mainapp:chapterPage' person.id chapter.id %}">Chapter {{ chapter.index }}</a>
            ; vid: {{ chapter.video_url }}
        </li>
    {% endfor %}
</ul>

{% with next_person=person.get_next previous_person=person.get_previous %}
    {% if previous_person %}
        <a href="{% url 'mainapp:personPage' previous_person.id %}">previous</a> ({{ previous_person.name }})<br/>
    {% endif %}

    {% if next_person %}
        <a href="{% url 'mainapp:personPage' next_person.id %}">next</a> ({{ next_person.name }})
    {% endif %}
{% endwith %}
