<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src='{% static "mainapp/js/libs/jquery.js" %}'></script>
    <script src='{% static "mainapp/js/base.js" %}'></script>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load fontawesome %}
    {% fontawesome_stylesheet %}
    <script>
        // nav mouse cursor
        var arrowLeft = "{% static "mainapp/images/small/pfeil_links_weiß.png" %}";
        var arrowRight = "{% static "mainapp/images/small/pfeil_rechts_weiß.png" %}";
        // menu
        var closeWhite = "{% static "mainapp/images/schließen_weiß.png" %}";
        var closeBlue = "{% static "mainapp/images/schließen_blau.png" %}";
        // play-pause
        var playIconWeiß = "{% static 'mainapp/images/play_weiß.png' %}";
        var playIconBlau = "{% static 'mainapp/images/play_blau.png' %}";
        var pauseIconWeiß = "{% static 'mainapp/images/pause_weiß.png' %}";
        var pauseIconBlau = "{% static 'mainapp/images/pause_blau.png' %}";
        // volume
        var volumeOnIconWeiß = "{% static 'mainapp/images/ton_an_weiß.png' %}";
        var volumeOnIconBlau = "{% static 'mainapp/images/ton_an_blau.png' %}";
        var volumeOffIconWeiß = "{% static 'mainapp/images/ton_aus_weiß.png' %}";
        var volumeOffIconBlau = "{% static 'mainapp/images/ton_aus_blau.png' %}";
    </script>
    {% block js %} {% endblock %}
    <style rel="stylesheet" type="text/css">
        @font-face {
            font-family: avenir;
            src: url("{% static 'mainapp/font/AvenirNext.ttc' %}");
        }

        @font-face {
            font-family: caslon;
            src: url("{% static 'mainapp/font/ACaslonPro-Bold.otf' %}");
        }
    </style>
    <link href='{% static "mainapp/css/base.css" %}' rel="stylesheet" type="text/css"/>
    {% block css %} {% endblock %}
</head>
<body id="page" oncontextmenu="return false">
{% include "mainapp/base/menu.html" %}
{% block content %} {% endblock %}
</body>
</html>