<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {# Load jquery and custom javascript #}
    <script src='{% static "mainapp/js/libs/jquery.js" %}'></script>
    <script src='{% static "mainapp/js/base.js" %}'></script>
    <script>
        // nav mouse cursor
        var arrowLeft = "{% static "mainapp/images/small/pfeil_links_weiß.png" %}";
        var arrowRight = "{% static "mainapp/images/small/pfeil_rechts_weiß.png" %}";
    </script>
    {% block js %} {% endblock %}
    {# Load bootstrap3 #}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {# Load fontawesome #}
    {% load fontawesome %}
    {% fontawesome_stylesheet %}
    {# Load custom css #}
    <style rel="stylesheet" type="text/css">
        @font-face {
            font-family: avenir;
            src: url("{% static 'mainapp/font/AvenirNext.ttc' %}");
        }

        @font-face {
            font-family: caslon;
            src: url("{% static 'mainapp/font/ACaslonPro-Bold.otf' %}");
        }

        body {
            font-family: caslon, sans-serif !important;
        }
    </style>
    <link href='{% static "mainapp/css/base.css" %}' rel="stylesheet" type="text/css"/>
    {% block css %} {% endblock %}
</head>
<body id="page" oncontextmenu="return false">
<div id="myNav" class="overlay">
    <a href="#" class="closebtn">×</a>

    <ul class="overlay-content text-center">
        {% for p in people %}
        <li><a onclick="switchPerson('{{p.id}}'); return false;" class="cover-content" href="#">{{ p.name }}</a></li>
        <ul class="sub-elements" id="{{p.id}}" style="display:none;">
            <li><a href="{% url 'mainapp:personPage' p.id %}">Übersicht</a></li>
            {% for c in p.chapter_set.all %}
                <li><a href="{% url 'mainapp:chapterPage' p.id c.get_relative_id %}">{{ c.name }}</a></li>
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>
    <ul class="overlay-menu text-center">
        <li class="menu-item"><a href="{% url 'mainapp:index' %}" class="cover-menu">Home</a></li>
        <li class="menu-item"><a href="#" class="cover-menu">About</a></li>
        <li class="menu-item"><a href="#" class="cover-menu">Impressum</a></li>
    </ul>
</div>
{% block content %} {% endblock %}
</body>
</html>