html, body {
	width: 100%;
	height: 100%;

    margin: 0;
    padding: 0;
}

body {
	font-family: "Butler", serif;
	color: #ffffff;
	background-image: url("../res/lunatic_2014_MarlonHoffstadt.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	/* stretch to full-screen */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

div.timeline {
    position: fixed;
    width: 100%;
    height: 5px;

    margin: 0;
    padding: 0;

    cursor: pointer;
}

div.chapter-overview {
    position: fixed;
    top: 5px;

    width: 100%;
    height: 5%;
}

div.chapter-overview .timeline-chapter{
    width: auto;
}


/* Progressbar */

progress {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    /* Turns off styling */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    /* gets rid of default border in Firefox and Opera. */
    border: none;
}

/* the Progress Bar Background */
progress,                          /* Firefox  */
progress[role][aria-valuenow] {    /* Polyfill */
   background: transparent !important; /* !important is needed by the polyfill */
}
/* Chrome */
progress::-webkit-progress-bar {
    background: transparent;
}

/* the Progress Bar Value */
/* IE10 */
progress {
    color: white;
}
/* Firefox */
progress::-moz-progress-bar {
    background: white;
}
/* Chrome */
progress::-webkit-progress-value {
    background: white;
}
