html, body {
	width: 100%;
	height: 100%;

    margin: 0;
    padding: 0;
}

body {
	font-family: "Butler", serif;
	color: #ffffff;
	background-image: url("../res/lunatic_2014_MarlonHoffstadt.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	/* stretch to full-screen */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a {
	text-decoration: none;
    color: #ffffff;

	-webkit-transition: color 1s;
    -moz-background-size : color 1s;
    -o-transition: color 1s;
    transition: color 1s;
}

a:hover, a:focus, a:active {
    text-decoration: none;
    color: blue;
}

div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-flow: center;
    align-items: center;
    justify-content: center;
}

div div {
    flex-direction: row;
}

div.timeline {
    position: fixed;
    width: 100%;
    height: 5px;

    cursor: pointer;
}

div.chapter-overview {
    position: fixed;
    top: 5px;

    width: 100%;
    height: 5%;
}

div.chapter-overview .timeline-chapter{
    display: inline-block;

    width: auto;
    height: auto;
}

a.header {
    font-size: 6em;
    align-self: flex-start;
}

a.mehr {
    font-size: 3em;
    align-self: flex-end;
}

/*
 * Timeline
 */

progress {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    /* Turns off styling */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    /* gets rid of default border in Firefox and Opera. */
    border: none;
}

/* the Progress Bar Background */
progress,                          /* Firefox  */
progress[role][aria-valuenow] {    /* Polyfill */
   background: transparent !important; /* !important is needed by the polyfill */
}
/* Chrome */
progress::-webkit-progress-bar {
    background: transparent;
}

/* the Progress Bar Value */
/* IE10 */
progress {
    color: white;
}
/* Firefox */
progress::-moz-progress-bar {
    background: white;
}
/* Chrome */
progress::-webkit-progress-value {
    background: white;
}

/* layer */

.layer-container {
	display: none;
	width: 100%;
}

.layer {
	padding: 20px;
	min-height: 200px;
	text-align: center;
	cursor: pointer;	
	
	background-repeat: no-repeat;
	background-position: center center;
	
	/* stretch to full-screen */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	transition: visibility 1s, opacity 0.5s linear;
}

.layer:nth-of-type(1) {
	background-image: url("../res/marlon.jpg");	
}

.layer:nth-of-type(2) {
	background-image: url("../res/marlon.png");
}

.layer:nth-of-type(3) {
	background-image: url("../res/maxresdefault.jpg");
}

.layer-title {
	font-weight: 900;
	font-size: 3em;
	
	visibility: visible;
	opacity: 1.0;
	transition: visibility 1s, opacity 0.5s linear;
}

.layer-description {
	font-size: 2em;
	padding: 0px 20%;
	text-align: center;	
	visibility: hidden;
	opacity: 0.0;
  	transition: visibility 1s, opacity 0.5s linear;
}

.layer:hover {
	opacity: 0.7;
}

.layer:hover .layer-title {
	visibility: hidden;
	opacity: 0.0;
}

.layer:hover .layer-description {
	visibility: visible;
	opacity: 1.0;
}

