* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    font-family: caslon, sans-serif !important;
    color: white;
}

a {
    text-decoration: none;

    font-family: avenir, sans-serif;
    color: white;

	-webkit-transition: color 1s;
    -moz-background-size : color 1s;
    -o-transition: color 1s;
    transition: color 1s;
}

a:hover, a:focus, a:active {
    text-decoration: none;
    color: blue;
}

/*
 * Header / Footer
 */

.header {
	font-size: 3.5em;
	z-index: 9999;
}

.mehr {
	font-size: 3.5em;
	z-index: 9999;
}

/*
 * Overlay
 */

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    background-color: rgba(19, 92, 251, 0.6);
    overflow: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.5s;

    display: flex;
    flex-direction: column;
    flex-flow: center;
    align-items: center;
    justify-content: center;
}

/* overlay menu */

.overlay .overlay-menu {
    list-style: none;

    display: flex;
    flex-direction: row;
    flex-flow: center;
    align-items: center;
    justify-content: center;
    flex: 1 0 0;
}

.overlay .overlay-menu a.cover-menu {
    padding: 50px;
    font-size: 25px;
}

.overlay .overlay-menu .cover-menu.active {
    color: blue;
}

.overlay .overlay-content {
    display: flex;
    flex-direction: column;
    flex-flow: center;
    align-items: center;
    justify-content: center;
    flex: 4 0 0;
}
/*
.overlay :after {
  content: "";
  display: block;
  height: 50px;
  width: 100%;
}
*/

/* overlay artists */

.overlay .overlay-content .artists  {
    display: flex;
    flex-direction: column;
}

.overlay .overlay-content .artists > ul  {
    list-style: none;
    padding: 0px;
}

.overlay .overlay-content .artists ul  {
    list-style: none;
}

.overlay .overlay-content .artists .sub-elements {
    display: none;
    list-style: none;
    line-height: 0.9;
}

/* overlay about, imprint */

.about, .imprint {
    max-width: 70%;
    font-size: 20px;
    display: none;

}

/* stuff */

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus  {
    color: #051cf1;
}

.closebtn {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 20px;
    right: 45px;
    font-size: 60px !important;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .closebtn {
        font-size: 40px !important;
        top: 15px;
        right: 35px;
    }
}

a.cover-content {
    font-size:75px;
}
