html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    font-family: caslon, sans-serif !important;
    color: white;
}

a {
    text-decoration: none;

    font-family: avenir, sans-serif;
    color: white;

	-webkit-transition: color 1s;
    -moz-background-size : color 1s;
    -o-transition: color 1s;
    transition: color 1s;
}

a:hover, a:focus, a:active {
    text-decoration: none;
    color: blue;
}


/*
 * Header / Footer
 */

.header {
	font-size: 3.5em;
	z-index: 9999;
}

.mehr {
	font-size: 3.5em;
	z-index: 9999;
}

/*
 * Overlay
 */

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    background-color: rgba(19, 92, 251, 0.6);
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;

    display: flex;
    flex-direction: row;
    flex-flow: center;
    align-items: center;
    justify-content: center;
}

.overlay-content {
    list-style: none;
    position: relative;
    left: 15%;
    top: -7%;
    flex-direction: column;
}

.sub-elements {
    display: none;
    list-style: none;
}

.overlay-menu {
    list-style: none;
    position: relative;
    top: 30%;
    right: 20%;
    flex-direction: row;
    display: inherit;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.overlay .overlay-content a {
    font-family: caslon;
}

.overlay .overlay-menu a {
    font-family: avenir;
}

.overlay a:hover, .overlay a:focus {
    color: #051cf1;
}

.overlay .sub-elements {
    line-height: 0.9;
}

.closebtn {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 20px;
    right: 45px;
    font-size: 60px !important;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .closebtn {
        font-size: 40px !important;
        top: 15px;
        right: 35px;
    }
}

a.cover-content {
    font-size:75px;
}

a.cover-menu {
    font-size:25px;
}

.menu-item {
    margin-left: 15%;
    margin-right: 15%;
}
