html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

a {
    text-decoration: none;
    font-family: avenir, sans-serif;
    color: #ffffff;

    -webkit-transition: color 1s;
    -moz-background-size: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
}

a:hover, a:focus, a:active {
    text-decoration: none;
    color: blue;
}

a.header {
    font-size: 3.5em;
    align-self: flex-start;
}

a.mehr {
    font-size: 3.5em;
    align-self: flex-end;
}

div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-flow: center;
    align-items: center;
    justify-content: center;
}

div.timeline {
    position: fixed;
    width: 100%;
    height: 5px;

    cursor: pointer;
}

div.chapter-overview {
    display: none;
}

div.chapter-overview > div.active {
    color: #ff0000;
}

div div {
    flex-direction: row;
}

/*
 * Timeline
 */

progress {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    /* Turns off styling */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    /* gets rid of default border in Firefox and Opera. */
    border: none;
}

/* the Progress Bar Background */
progress, /* Firefox  */
progress[role][aria-valuenow] { /* Polyfill */
    background: transparent !important; /* !important is needed by the polyfill */
}

/* Chrome */
progress::-webkit-progress-bar {
    background: transparent;
}

/* the Progress Bar Value */
/* IE10 */
progress {
    color: white;
}

/* Firefox */
progress::-moz-progress-bar {
    background: white;
}

/* Chrome */
progress::-webkit-progress-value {
    background: white;
}

/*
 * Video Controls
 */

div.video-controls {
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: block;

    width: auto;
    height: auto;

    z-index: 9999;
}

input {
    width: 60px;
    height: 60px;
}

/*
 * Layer
 */

div.layer-container {
    display: none;
    width: 100%;
    height: auto;
}

div.layer-container .layer {
    display: block;
    height: auto;
    min-height: 250px;
    width: 100%;

    padding: 20px;

    text-align: center;
    cursor: pointer;

    background-repeat: no-repeat;
    background-position: center center;

    /* stretch to full-screen */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    transition: visibility 1s, opacity 0.5s linear;
}

.layer-title {
    font-weight: 900;
    font-size: 3em;

    visibility: visible;
    opacity: 1.0;
    transition: visibility 1s, opacity 0.5s linear;
}

.layer-description {
    font-size: 2em;
    padding: 0px 20%;
    text-align: center;
    visibility: hidden;
    opacity: 0.0;
    transition: visibility 1s, opacity 0.5s linear;
}

.layer:hover {
    opacity: 0.7;
}

.layer:hover .layer-title {
    visibility: hidden;
    opacity: 0.0;
}

.layer:hover .layer-description {
    visibility: visible;
    opacity: 1.0;
}

/* Overlay */

.overlay {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    background-color: rgb(19, 92, 251);
    background-color: rgba(19, 92, 251, 0.6);
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
}


.overlay-content {
    list-style: none;
    position: relative;
    left: 15%;
    top: -7%;
    flex-direction: column;
}

.overlay-menu {
    list-style: none;
    position: relative;
    top: 30%;
    right: 11%;
    flex-direction: row;
    display: inherit;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #051cf1;
}

.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px !important;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .closebtn {
        font-size: 40px !important;
        top: 15px;
        right: 35px;
    }
}

a.cover-content {
    font-size:75px;
}

a.cover-menu {
    font-size:45px;
}