html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

a {
    text-decoration: none;
    font-family: avenir, sans-serif;
    color: #ffffff;

    -webkit-transition: color 1s;
    -moz-background-size: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
}

a:hover, a:focus, a:active {
    text-decoration: none;
    color: blue;
}

a.header {
    cursor: pointer;

    font-size: 3.5em;
    align-self: flex-start;
}

a.mehr {
    font-size: 3.5em;
    align-self: flex-end;
}

div {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-flow: center;
    align-items: center;
    justify-content: center;
}

div div {
    flex-direction: row;
}

/* Chapter Overview */

div.timeline {
    position: fixed;
    width: 100%;
    height: 3%;

    cursor: pointer;
}

div.timeline:hover .chapter-overview {
    opacity: 1.0;
    visibility: visible;
}

.chapter-overview {
    opacity: 0.0;
    visibility: hidden;

    transition: visibility 1s, opacity 0.5s linear;
}

.chapter-overview .transbox {
    background-color: #f2f2f2;
    opacity: 0.5;
    border-right: 1px dotted black;
    border-left: 1px dotted black;
}

.chapter-overview .transbox:first-of-type {
    border-right: 0;
    border-left: 0;
}

.chapter-overview .transbox:last-of-type {
    border-right: 0;
    border-left: 0;
}

.chapter-overview .active {
    color: blue;
}

.chapter-overview .transbox:hover {
    padding-bottom: 4px;
}

.chapter-overview .transbox a {
    color: black;
}

.chapter-overview .active a {
    color: blue;
}

/*
 * Timeline
 */

progress {
    width: 100%;
    height: 5px;
    padding: 0;
    margin: 0;

    /* Turns off styling */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    /* gets rid of default border in Firefox and Opera. */
    border: none;
}

/* the Progress Bar Background */
progress, /* Firefox  */
progress[role][aria-valuenow] { /* Polyfill */
    background: transparent !important; /* !important is needed by the polyfill */
}

/* Chrome */
progress::-webkit-progress-bar {
    background: transparent;
}

/* the Progress Bar Value */
/* IE10 */
progress {
    color: white;
}

/* Firefox */
progress::-moz-progress-bar {
    background: white;
}

/* Chrome */
progress::-webkit-progress-value {
    background: white;
}

/*
 * Video Controls
 */

div.video-controls {
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: block;

    width: auto;
    height: auto;

    z-index: 9999;
}

input {
    width: 60px;
    height: 60px;
}

/*
 * Layer
 */

div.layer-container {
    display: none;
    position: relative;

    width: 100%;
    height: auto;

    flex-direction: column;
    flex-flow: center;
    align-items: center;
    justify-content: center;
}

.layer {
    position: relative;

    height: auto;
    min-height: 250px;
    width: 100%;

    opacity: 0.8;

    text-align: center;
    cursor: pointer;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    transition: visibility 1s, opacity 0.5s linear;
}

.layer:hover {
    opacity: 1.0;
}

.layer:hover .layer-title {
    display: none;
}

.layer:hover .layer-description {
    display: flex;
}

.layer .layer-title {
    display: flex;

    text-align: center;
	font-size: 7em;
}

.layer .layer-description {
    display: none;

    font-size: 3em;
    line-height: 0.9;
    padding: 0px 20%;
    text-align: center;
}
