html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

a {
    text-decoration: none;
    font-family: avenir, sans-serif;
    color: #ffffff;

    -webkit-transition: color 1s;
    -moz-background-size: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
}

a:hover, a:focus, a:active {
    text-decoration: none;
    color: blue;
}

a.header {
    cursor: pointer;

    font-size: 3.5em;
    align-self: flex-start;
}

a.mehr {
    font-size: 3.5em;
    align-self: flex-end;
}

div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-flow: center;
    align-items: center;
    justify-content: center;
}

div.timeline {
    position: fixed;
    width: 100%;
    height: 5px;

    cursor: pointer;
}

div.chapter-overview {
    display: none;
}

div.chapter-overview > div.active {
    color: #ff0000;
}

div div {
    flex-direction: row;
}

/*
 * Timeline
 */

progress {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    /* Turns off styling */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    /* gets rid of default border in Firefox and Opera. */
    border: none;
}

/* the Progress Bar Background */
progress, /* Firefox  */
progress[role][aria-valuenow] { /* Polyfill */
    background: transparent !important; /* !important is needed by the polyfill */
}

/* Chrome */
progress::-webkit-progress-bar {
    background: transparent;
}

/* the Progress Bar Value */
/* IE10 */
progress {
    color: white;
}

/* Firefox */
progress::-moz-progress-bar {
    background: white;
}

/* Chrome */
progress::-webkit-progress-value {
    background: white;
}

/*
 * Video Controls
 */

div.video-controls {
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: block;

    width: auto;
    height: auto;

    z-index: 9999;
}

input {
    width: 60px;
    height: 60px;
}

/*
 * Layer
 */

div.layer-container {
    display: none;
    width: 100%;
    height: auto;
}

div.layer-container .layer {
    display: block;
    height: auto;
    min-height: 250px;
    width: 100%;

    padding: 20px;

    text-align: center;
    cursor: pointer;

    background-repeat: no-repeat;
    background-position: center center;

    /* stretch to full-screen */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    transition: visibility 1s, opacity 0.5s linear;
}

.layer-title {
    font-weight: 900;
    font-size: 3em;

    visibility: visible;
    opacity: 1.0;
    transition: visibility 1s, opacity 0.5s linear;
}

.layer-description {
    font-size: 2em;
    padding: 0px 20%;
    text-align: center;
    visibility: hidden;
    opacity: 0.0;
    transition: visibility 1s, opacity 0.5s linear;
}

.layer:hover {
    opacity: 0.7;
}

.layer:hover .layer-title {
    visibility: hidden;
    opacity: 0.0;
}

.layer:hover .layer-description {
    visibility: visible;
    opacity: 1.0;
}

/* Timeline */

div.transbox {
    position: relative;
    width: 7%;
    height: 3%;
    top: 6px;
    background-color: #f2f2f2;
    opacity: 0.5;
    float: left;
    margin: 0 0 1px 1px;
}

div.transbox a {
    color: #000000;
    text-align: center;
    transition: 0.6s;
    border-right: 2px dotted transparent;
}

div.transbox a:hover {
    border-right: 2px dotted #ffffff;
    padding-bottom: 24px;
}