div {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-flow: center;
    align-items: center;
    justify-content: center;
}

div.box div {
    flex-direction: row;
}

.content {
    padding: 0 8%;

    font-size: 6em;
    line-height: 1.0;

	text-align: center;
	align-self: center;
}

.mehr {
	align-self: flex-end;
}

@media screen and (max-height: 700px), (max-width: 900px) {
    p.header {
        font-size: 5em;
        line-height: 0.9;
    }
}
