html, body {
	width: 100%;
	height: 100%;
	color: #ffffff;
}

a {
    text-decoration: none;

    font-family: avenir, sans-serif;
    color: #ffffff;

	-webkit-transition: color 1s;
    -moz-background-size : color 1s;
    -o-transition: color 1s;
    transition: color 1s;
}

a:hover, a:focus, a:active {
    text-decoration: none;
    color: blue;
}

div {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-flow: center;
    align-items: center;
    justify-content: center;
}

div.box div {
    flex-direction: row;
}

p.header {
    padding: 0 15%;
	font-size: 7em;
	text-align: center;
	align-self: center;
}

a.mehr {
	font-size: 3.5em;
	align-self: flex-end;
}
