body {
   color: white;
}

a {
    text-decoration: none;

    font-family: avenir, sans-serif;
    color: blue;

	-webkit-transition: color 1s;
    -moz-background-size : color 1s;
    -o-transition: color 1s;
    transition: color 1s;
}

a:hover, a:focus, a:active {
    text-decoration: none;
    color: white;
}

div {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-flow: center;
    align-items: center;
    justify-content: center;
}

div.timeline {
    position: absolute;
    width: 100%;
    height: 5px;
}

div.box div {
    flex-direction: row;
}

div.box div.cont {
    flex-direction: column;
}

div.timeline progress {
    width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;
}

.header {
    font-size: 3.5em;
    align-self: flex-start;
}

.mehr {
    font-size: 3.5em;
    align-self: flex-end;
}

.carousel {
  width: 100%;
  height: 70%;
}

.carousel img {
  display: block;
  padding: 20px;
  max-height: 800px;
}

/*
 * Audio Controls
 */

div.audio-controls {
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: block;

    width: auto;
    height: auto;

    z-index: 9999;
}

input {
    width: 60px;
    height: 60px;
    outline: none;
}

/*
 * Timeline
 */
progress {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    /* Turns off styling */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    /* gets rid of default border in Firefox and Opera. */
    border: none;
}

progress.layer-progressbar {
    position: relative;
    bottom: 0;
    left: 0;
}

/* the Progress Bar Background */
progress,                          /* Firefox  */
progress[role][aria-valuenow] {    /* Polyfill */
   background: transparent !important; /* !important is needed by the polyfill */
}
/* Chrome */
progress::-webkit-progress-bar {
    background: transparent;
}

/* the Progress Bar Value */
/* IE10 */
progress {
    color: blue;
}
/* Firefox */
progress::-moz-progress-bar {
    background: blue;
}
/* Chrome */
progress::-webkit-progress-value {
    background: blue;
}

/*
 * Customize flickity
 */

.flickity-prev-next-button {
   background: transparent;
}

.flickity-page-dots {
  display: none;
}

/*
 * Layer
 */

div.layer-container {
    display: none;
    position: relative;

    width: 100%;
    height: auto;

    flex-direction: column;
    flex-flow: center;
    align-items: center;
    justify-content: center;
}

.layer {
    position: relative;

    height: auto;
    min-height: 250px;
    width: 100%;

    text-align: center;
    cursor: pointer;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    transition: visibility 1s, opacity 0.5s linear;
}

.layer:hover .layer-title {
    display: none;
}

.layer:hover .layer-description {
    display: flex;
}

.layer .layer-title {
    display: flex;

    text-align: center;
	font-size: 6em;
}

.layer .layer-description {
    display: none;

    font-size: 2.5em;
    line-height: 0.95;
    padding: 0px 20%;
    text-align: center;
}
