* { box-sizing: border-box; }

html, body {
	width: 100%;
	height: 100%;
	color: blue;
}
/*
a {
    text-decoration: none;
    font-family: avenir, sans-serif;
   	color: blue;

	-webkit-transition: color 1s;
    -moz-background-size : color 1s;
    -o-transition: color 1s;
    transition: color 1s;
}

a:hover, a:focus, a:active {
    text-decoration: none;
    color: blue;
}

div {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-flow: center;
    align-items: center;
    justify-content: center;
}

div.box div {
    flex-direction: row;
}

div.box div.cont {
    flex-direction: column;
}

.header {
	font-size: 3.5em;
	align-self: flex-start;
}

.content {

}

.content .gallery {
    width: 80%;
    height: 80%;
}
*/

.carousel {
  background: #EEE;
}

.carousel img {
  display: block;
  height: 400px;
}

.mehr {
	font-size: 3.5em;
	align-self: flex-end;
}
