body {
   color: blue;
}

a {
    text-decoration: none;

    font-family: avenir, sans-serif;
    color: blue;

	-webkit-transition: color 1s;
    -moz-background-size : color 1s;
    -o-transition: color 1s;
    transition: color 1s;
}

a:hover, a:focus, a:active {
    text-decoration: none;
    color: white;
}

.box {
    position: fixed;
}

div {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-flow: center;
    align-items: center;
    justify-content: center;
}

div.box div {
    flex-direction: row;
}

div.box div.cont {
    flex-direction: column;
}

#layerProgressbar {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 5px;
}

.header {
    align-self: flex-start;
}

.mehr {
    align-self: flex-end;
}

/*
 * Audio Controls
 */

div.audio-controls {
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: block;

    width: auto;
    height: auto;

    z-index: 9999;
}

input {
    width: 60px;
    height: 60px;
    outline: none;
}

/*
 * Timeline
 */

div.timeline {
    position: absolute;
    width: 100%;
    height: 5px;
}

div.timeline progress {
    width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;

    /* Turns off styling */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    /* gets rid of default border in Firefox and Opera. */
    border: none;
}

progress.layer-progressbar {
    position: relative;
    bottom: 0;
    left: 0;
}

/* the Progress Bar Background */
progress,                          /* Firefox  */
progress[role][aria-valuenow] {    /* Polyfill */
   background: transparent !important; /* !important is needed by the polyfill */
}
/* Chrome */
progress::-webkit-progress-bar {
    background: transparent;
}

/* the Progress Bar Value */
/* IE10 */
progress {
    color: blue;
}
/* Firefox */
progress::-moz-progress-bar {
    background: blue;
}
/* Chrome */
progress::-webkit-progress-value {
    background: blue;
}

/*
 * Layer
 */

div.layer-container {
    display: none;
    position: relative;

    width: 100%;
    height: auto;

    flex-direction: column;
    flex-flow: center;
    align-items: center;
    justify-content: center;
}

.layer {
    position: relative;

    height: auto;
    min-height: 250px;
    width: 100%;

    text-align: center;
    cursor: pointer;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    transition: visibility 1s, opacity 0.5s linear;
}

.layer:hover .layer-title {
    display: none;
}

.layer:hover .layer-description {
    display: flex;
}

.layer .layer-title {
    display: flex;

    text-align: center;
	font-size: 6em;
}

.layer .layer-description {
    display: none;

    font-size: 2.5em;
    line-height: 0.95;
    padding: 0px 20%;
    text-align: center;
}

.layer-element {
    padding-bottom: 40px;
}


/* Grid */

.content {
    padding: 5% 2%;
}

.layer-element {
    display: block;
    padding: 1%;
}

.layer-element video {
    width: 60%;
    height: 60%;
    margin: 10px;
}

.layer-element img {
    display: inline;
    width: 60%;
    height: 60%;
    margin: 10px;
}

.layer-element p {
    width: 100%;
    height: 100%;
    font-size: 1.5em;
}

.layer-element.float-left img {
    float: left;
}

.layer-element.float-right img {
    float: right;
}

.layer-element.float-normal img {

}

.layer-element.float-left video {
    float: left;
}

.layer-element.float-right video {
    float: right;
}

.layer-element.float-normal video {

}

/* Sozial */

.social-media {
    display: flex;

    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    border: 1px solid blue;
}

a.social-media-link {
    flex: 1;
    margin-left: 10px;
    height: 100%
}

a.social-media-link>img {
    height: 100%;
}