body {
    color: black;
}

a {
    text-decoration: none;

    font-family: avenir, sans-serif;
    color: blue;

    -webkit-transition: color 1s;
    -moz-background-size : color 1s;
    -o-transition: color 1s;
    transition: color 1s;
}

/*
 * Audio Controls
 */

div.audio-controls {
    position: fixed;
    bottom: 0;
    left: 0;
    display: block;

    width: auto;
    height: auto;

    z-index: 9999;
}

input {
    width: 60px;
    height: 60px;
    outline: none;
}

/*
 * Timeline
 */

div.timeline {
    position: relative;
    height: 5px;
}

div.timeline progress {
    position: absolute;

    width: 100%;
    height: 100%;

    /* Turns off styling */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    /* gets rid of default border in Firefox and Opera. */
    border: none;
}

/* the Progress Bar Background */
progress,                          /* Firefox  */
progress[role][aria-valuenow] {    /* Polyfill */
   background: transparent !important; /* !important is needed by the polyfill */
}
/* Chrome */
progress::-webkit-progress-bar {
    background: transparent;
}

/* the Progress Bar Value */
/* IE10 */
progress {
    color: blue;
}
/* Firefox */
progress::-moz-progress-bar {
    background: blue;
}
/* Chrome */
progress::-webkit-progress-value {
    background: blue;
}

/*
 * Wrapper
 */

.wrapper .header, .wrapper .footer, .wrapper .footer .layer-container, .wrapper .footer .layer-container .layer {
	display: flex;
	flex-direction: column;
	flex-flow: center;
	align-items: center;
	justify-content: center;
}

.wrapper .content {
    margin: 20px;
}

.wrapper .header {
	align-self: flex-start;
}

/* Layer */

.wrapper .footer .layer-container {
	display: none;
	position: relative;
	width: 100%;
	height: auto;
}

.wrapper .footer .layer-container .layer {
	position: relative;
	height: auto;
	min-height: 200px;
	width: 100%;
	text-align: center;
	cursor: pointer;
    background: no-repeat center center;
    background-size: cover;
	transition: visibility 1s, opacity 0.5s linear;
	color: blue;
}

.wrapper .footer .layer-container .layer:hover .layer-title {
	display: none;
}

.wrapper .footer .layer-container .layer:hover .layer-description {
	display: flex;
}

.wrapper .footer .layer-container .layer .layer-title {
	display: flex;
	text-align: center;
	font-size: 6em;
}

.wrapper .footer .layer-container .layer .layer-description {
	display: none;
	font-size: 2.5em;
	line-height: 0.95;
	padding: 0 20%;
	text-align: center;
}

/* Grid */

.grid{
    margin: 0;
}

img, p {
    width: 100%;
}

.grid-item {
    width: 400px;
    margin: 0 100px;
}

.grid-item p {
    position: relative;
}

.grid-item img, .grid-item video {
    max-width: 150%;
}

/*
.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    width: 99%;
    margin-bottom: 30px;
}

@media screen and (min-width: 600px) {
    .grid-item { width: 48%; }
}

@media screen and (min-width: 1200px) {
    .grid-item { width: 32%; }
}

.grid-item img, .grid-item video {
    display: block;
    max-width: 100%;
}

.grid-item img,
.grid-item video {
    width: 70%;
    height: 70%;
    padding: 10px;
}

.grid-item p {
    width: 100%;
    height: 100%;
    font-size: 1.5em;
}

.grid-item.float-left img,
.grid-item.float-left video {
    float: left;
}

.grid-item.float-right img,
.grid-item.float-left video {
    float: right;
}
*/

/* Sozial

.social-media {
    display: flex;

    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    border: 1px solid blue;
}

a.social-media-link {
    flex: 1;
    margin-left: 10px;
    height: 100%;
}

a.social-media-link>img {
    height: 100%;
}
*/
