body {
	color: #ffffff;
}

a {
    text-decoration: none;
    font-family: avenir, sans-serif;
    color: #ffffff;

	-webkit-transition: color 1s;
    -moz-background-size : color 1s;
    -o-transition: color 1s;
    transition: color 1s;
}

a:hover, a:focus, a:active {
    text-decoration: none;
    color: blue;
}

div {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-flow: center;
    align-items: center;
    justify-content: center;
}

div.box div {
    flex-direction: row;
}

div.box div.cont {
    flex-direction: column;
}

div.content {
    position: relative;

    display: flex;
    flex-direction: column;
    flex-flow: center;
    align-items: center;
    justify-content: center;
}

div.content:hover .child1 {
    display: none;
}

div.content:hover .child2 {
    display: flex;
}

.child1, .child2 {
    position: relative;
}

.child1 {
    display: flex;
}

.child2 {
    display: none;
}

.header {
	font-size: 3.5em;
	align-self: flex-start;
}

.title {
    font-family: caslon, sans-serif;
	font-size: 7em;
    text-align: center;
    align-self: center;
}

.description {
    font-family: caslon, sans-serif;
    font-size: 3.5em;
    margin: 0 15%;
    text-align: center;
    align-self: center;
}

.mehr {
	font-size: 3.5em;
	align-self: flex-end;
}
