body {
	color: #ffffff;

	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;

	/* stretch to full-screen */
	-webkit-background-size: cover;
    -moz-background-size : cover;
    -o-background-size : cover;
	background-size : cover;

	/* animate url changes */
	transition: background 1s linear;
}
